<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" type="image/x-icon" href="images/AB-logo_neww.png">
    <title>contact</title>
    <style>
         body {
            color:rgb(211 209 209);
            background-color: rgb(5, 8, 22);
        }
        #navbarNavAltMarkup.collapse.navbar-collapse {
            justify-content: flex-end;
        }

        .navbar-nav a {
            color: black;

        }

        a.nav-link {
        margin: 5px;
        padding: 5px;
        color: rgb(170 166 195);
        font-size: 16px;
        border: 0.3em solid transparent;
        border-radius: 16px;
        /* letter-spacing: 0.5px; */
        text-align: center;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: 1s;
        /* padding: 0px 10px; */
    
      }

      a.nav-link span {
        position: absolute;
        width: 25%;
        height: 70%;
        background-color: white;
        transform: translateY(150%);
        border-radius: 50%;
        left: calc((var(--n) - 1) * 25%);
        transition: 0.5s;
        transition-delay: calc((var(--n) - 1) * 0.1s);
        z-index: -1;
      }

      a.nav-link:hover {

        color: black;
        /* color: rgb(238, 238, 238); */

      }

      a.nav-link:hover span {
        transform: translateY(0) scale(2);
      }

      a.nav-link span:nth-child(1) {
        --n: 1;
      }

      a.nav-link span:nth-child(2) {
        --n: 2;
      }

      a.nav-link span:nth-child(3) {
        --n: 3;
      }

      a.nav-link span:nth-child(4) {
        --n: 4;
      }

        .contact-form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .contact-form img {
            width: 56rem;
            border: 1px;
            border-radius: 30px;
            height: auto;
            max-width: 100%;
            padding: 10px;
        }

        @media(max-width:1460px) {

            .contact-form img {
                width: 50rem;
                border: 1px;
                max-height: none;
                border-radius: 30px;
                height: auto;
                max-width: 100%;
                padding: 10px;
            }
        }

        .contact-form form {
            display: flex;
            flex-direction: column;
            width: 560px;
            padding: 35px 55px 55px 55px;
        }

        @media (max-width:1400px) {
            .contact-form form {
                display: flex;
                flex-direction: column;
                width: 560px;
                padding: 0px;

            }
        }

        .contact-form form div {
            height: 70px;

            display: flex;
            flex-direction: column;
            border: 1px solid #cbcbcb;
            border-radius: 10px;
            margin: 5px 4px;

            padding: 7px 10px;
        }

        .contact-form form .message-box {
            height: 120px;

            display: flex;
            flex-direction: column;
            border: 1px solid #cbcbcb;
            border-radius: 10px;
            margin: 5px 4px;

            padding: 7px 10px;
        }


        .contact-form form input {
            padding: 10px 0px;
            /* margin: 10px 0px; */
            color: white;

            outline: none;
            background-color: transparent;
            border: transparent;
            letter-spacing: 2px;
        }

        .contact-form form :focus {

            border: transparent;
        }

        .contact-form form button {
            display: flex;
            width: 96%;
            align-items: center;
            justify-content: center;
            height: 11%;
            margin-left: 9px;
            background-color: #6675df;
            /* margin: 0px 44px; */
            border: transparent;
            letter-spacing: 1px;
            border-radius: 16px;
            font-family: Monospace;
            font-size: 20px;
            text-transform: uppercase;
        }

        .contact-form span {
            display: flex;
            justify-content: center;
            letter-spacing: 1px;
            font-family: Monospace;
            align-items: center;
            text-align: center;
            font-size: 30px;
        }

        label {
            text-transform: uppercase;
            font-size: 11px;
        }

        .media {
            border: transparent;
        }

        .contact-form ul {
            display: flex;
        
            justify-content: space-between;
      
        }

        .contact-form ul li {
            list-style: none;
            font-size: 30px;

            margin: 10px;
            padding: 10px;
        }

        textarea {
            letter-spacing: 2px;
            height: 80px;
            border: none;
            outline: none;
            color: white;
            background: transparent;
        }

        #success-message {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 15px;
            font-weight: 200;
            letter-spacing: 1px;
            color: green;
            background: #2f6d1b;
            color: black;
            justify-content: center;
            width: 39%;
            font-weight: 400;
            border: 1px;
            border-radius: 58px;
            font-family: Monospace;
        }

        .contact-form form .success {
            height: 47px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            border: 0px solid #cbcbcb;
            border-radius: 10px;
           
        }
        .navbar-toggler{
            background-color: rgb(238, 238, 238);
        }
        .navbar-brand{
    margin: 0px 20px;

         color: rgb(238, 238, 238);;
        }
        i{
           color:  rgb(211 209 209);
        }
        .dark-mode-button {
      cursor: pointer;
      font-size: 30px;
    }

    .bi.bi-moon-stars-fill {
      font-size: 25px;
    }
    a.navbar-brand:hover{
    color: white;
    opacity: 0.5;
}
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Amit Bhramanna</a>
            <div class="dark-mode-button"><i class="bi bi-moon-stars-fill"></i></div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="/"
                    >Home <span></span><span></span><span></span><span></span>
                  </a>
                  <a class="nav-link" href="/skills">Skills<span></span><span></span><span></span><span></span></a>
                
                  <a class="nav-link" href="/projects">Projects<span></span><span></span><span></span><span></span></a>
                
                  <a class="nav-link" href="/contact">Contact me<span></span><span></span><span></span><span></span></a>
                
                  <a class="nav-link" href="/resume.pdf" target="_blank">My resume<span></span><span></span><span></span><span></span></a>
                </div>
            </div>
        </div>
    </nav>


    <div class="contact-form">
        <img src="images/contact-back.jpg" alt="">

        <form action="/submit" method="post">
            <span>Contact me </span>

            <div><label for="name"> Name</label>
                <input type="text" id="name" name="name" placeholder="Enter your name...." required autocomplete="off">
            </div>
            <div><label for="Email"> Email</label>
                <input type="text" id="email" name="email" placeholder="Enter your Email...." required autocomplete="off">
            </div>
            <div class="message-box"><label for="message"> Message</label>
                <textarea id="message" name="message" placeholder="Send a message" required autocomplete="off"></textarea>
            </div>
            <!-- <input type="text" id="message" name="message" placeholder="Type message...." required></div> -->
            <button type="submit">Submit form</button>
            <% if (check) { %>
                <div class="success">
                    <h1 id="success-message">
                        <%= data %>
                    </h1>
                </div>
                <% check=false; // Reset data after displaying it %>
                    <% } %>


                        <ul>
                            <li><a href="https://github.com/amitbhramanna011"><i class="bi bi-github"></a></i></li>
                            <li><a href="www.linkedin.com/in/amit-bhramanna-063b7922a"><i class="bi bi-linkedin"></a></i></li>
                            <li><a href="https://www.instagram.com/amit_bhramanna011/"><i class="bi bi-instagram"></a></i></li>   
                            <li><a href="mailto:amitbhramanna@gmail.com"><i class="bi bi-google"></a></i></li>
                        </ul>

        </form>



    </div>

    <script>
        setTimeout(function () {
            var suc = document.getElementById("success-message");
            if (suc) {
                suc.style.display = 'none';
            }
        }, 2000);
    </script>

</body>
<script src="js/mode.js"></script>
</html>